.filter_container {
  background-color: #f8f7f4;
  border-bottom: 1px solid #e2e0dd;
}

.first_filter_navbar {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 99;
  margin: 0;
  padding: 5px 0px;
}
.first_filter_navbar > li {
  margin-left: 2px;
  position: relative;
  z-index: 9;
}
.first_filter_navbar > li > span {
  text-decoration: none;
  color: #33322e;
  padding: 2px 15px;
  cursor: pointer;
}
.first_filter_navbar > li > li:hover {
  background-color: white;
}

.secound_filter_navbar {
  display: none;
  position: absolute;
  list-style: none;
  background-color: white;
  min-width: 250px;
  direction: rtl;
  text-align: right;
  padding: 30px;
  height: 300px;
  z-index: 99;
  border: 1px solid #edebe8;
  border-top: none;
  top: 28px;
}
.first_filter_navbar > li span:hover > .secound_filter_navbar {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.secound_filter_navbar > li {
  color: #8e8e8e;
  margin-bottom: 15px;
  font-size: 14px !important;
  color: #8e8e8e !important;
}

.listStyle li {
  cursor: pointer;
}
.secound_filter_navbar li {
  padding: 10px;
}
.secound_filter_navbar li:hover {
  background-color: rgba(144, 104, 104, 0.5);
}
.secound_filter_navbar li {
  color: #33322e;
}

.ProductCardContainer {
  min-height: 90vh;
}
