.footer_list {
  display: flex;
  direction: rtl;
  list-style: none;
  justify-content: flex-start;
  padding-right: 0 !important;

  margin: 0 !important;
}
.footer_list > li {
  flex: 1;
}
.footer_list > li > a {
  color: #f2f1e9;
  text-decoration: none;
}
.footer_list li ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
  margin-right: 0;
}

.footer_list li ul li {
  margin-bottom: 0px;
}
.footer_list li ul li a {
  text-decoration: none;
  color: #959487;
  font-size: 15px;
}
.footer_list li ul li a:hover {
  text-decoration: none;
  color: #f2f1e9;
  font-size: 15px;
}

.footer_social_icons {
  font-size: 25px;
  margin-left: 15px;
}
